$headerH: 38px;
$headerBg: #160b00;

header {
    height: $headerH;
    background: $headerBg;

    h1 {
        width: 125px;
        height: $headerH;
        background: coral;
        float: left;

        a {
            color: #fff;
            line-height: $headerH;
        }
    }
    /*----------------------------------------    头部导航   ----------------------------------------*/
    ul {
        float: left;
        li {
            background: yellow;
            a {
                padding: 0 38px;
                line-height: $headerH;
                color: #f1f1c4;
                font-size: 12px;
            }
        }
    }
    .userInfo{
        float: right;
        color: #fff;
    }
    /*----------------------------------------    /头部导航   ----------------------------------------*/
}


touch .getignore
在.getignore里面拷贝需要忽视的路径

gulp一次性安装多个插件
cnpm i gulp-sass gulp-uglify gulp-htmlmin gulp-connect --save-dev

压缩es6代码需要装gulp-bable插件
