$innerW: 960px;
$headerH: 38px;
$headerBg: #160b00;
$headerPadding: 50px;
$bannerH: 389px;
$logoH: 80px;
$menuImg: 130px;
$menuLiGap: 20px;
$sideNav: 100px;
$allCateH: 130px;
$sortBoxH: 56px;
$currenColor: #0089dc;

body {
    background: #f7f7f7;
}


header {
    height: $headerH;
    background: url('../images/coffee.jpg');
    opacity: 0.8;
    padding: 0 $headerPadding;

    h1 {
        width: 125px;
        height: $headerH;
        float: left;

        a {
            color: #fff;
            line-height: $headerH;
        }
    }
    /*----------------------------------------    头部导航   ----------------------------------------*/
    ul {
        float: left;
        li {
            a {
                padding: 0 38px;
                line-height: $headerH;
                color: #f1f1c4;
                font-size: 12px;
            }
        }
    }
    .userInfo {
        float: right;
        color: #fff;
        line-height: $headerH;
    }
    /*----------------------------------------    /头部导航   ----------------------------------------*/
}




/*----------------------------------------    goto   ----------------------------------------*/

.goto {
    position: fixed;
    right: 0;
    bottom: 20%;
    display: none;

    width: 40px;

    ul {

        li {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            margin-bottom: 3px;
            background: rgba(0, 0, 0, 0.5);
            text-align: center;
            cursor: pointer;

            i {
                font-size: 25px;
                line-height: 40px;
                color: #fff;
            }
        }
        li:hover {
            background: coral;
        }
    }
}




/*----------------------------------------    /goto   ----------------------------------------*/


/*----------------------------------------    footer   ----------------------------------------*/

footer {
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 24px;
    .inner {
        float: none;
        .links {
            float: left;
            width: 50%;

            dl {
                float: left;
                width: 33.3%;
                text-align: center;


                dt {
                    font-size: 12px;
                    line-height: 22px;
                    color: #333;
                }
                dd {
                    line-height: 22px;
                    color: #999;
                    cursor: pointer;
                    padding-bottom: 2px;
                }
                dd:hover {
                    color: coral;
                    text-decoration: underline;
                }
            }
        }

        .aboutUs {
            float: left;
            border-left: 1px solid #fff;

            h3 {
                font-size: 12px;
                line-height: 24px;
            }
            p {
                color: #999;
                i {
                    font-size: 25px;
                }
                i.icon-weixin:hover {
                    color: #62b900;
                }
                i.icon-weibo-circle:hover {
                    color: red;
                }
            }
        }
    }
}











/*----------------------------------------    /footer   ----------------------------------------*/


/*----------------------------------------    banner   ----------------------------------------*/

.banner .inner {
    height: $bannerH;
    background: #000 url('../images/banner.jpg') no-repeat center center;
}





/*----------------------------------------    /banner   ----------------------------------------*/


/*----------------------------------------    shopInfo   ----------------------------------------*/

.shopInfo {
    height: 100px;
    background: url('../images/coffee.jpg');

    .inner {
        height: 100%;
        .fl {
            width: 370px;
            height: 100%;
            position: relative;
            .logo {
                height: $logoH;
                width: $logoH;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            h2 {
                margin-left: $logoH;
                margin-top: 30px;
                padding-left: 10px;
                color: #fff;
                a {
                    width: 136px;
                    height: 24px;
                    color: #fff;
                    background: #54ce75;
                    padding: 5px;
                    border-radius: 5px;
                    margin-left: 20px;
                    font-size: 12px;
                    font-style: normal;
                }
            }
        }
        .fr {
            width: 420px;
            height: 100%;
            display: flex;
            dl {
                float: left;
                flex: 1;
                font-size: 12px;
                line-height: 30px;
                color: #fff;
                text-align: center;
                padding: 26px;
                height: 50px;
                margin-right: 10px;
            }
            dd {
                font-size: 16px;
            }
        }
    }
}




/*----------------------------------------    /shopInfo   ----------------------------------------*/


/*----------------------------------------    sortBox   ----------------------------------------*/

.sortBox {
    width: 100%;
    height: $sortBoxH;
    .inner {
        height: 50px;
        line-height: 50px;
        padding-bottom: 6px;
        background: #fff;
        position: relative;

        .sideNav {
            display: none;
            position: absolute;
            margin-top: $sortBoxH;
            width: $sideNav;
            left: -$sideNav - 40;
            text-align: right;
            padding-right: 20px;
            border-right: 1px solid #ddd;
            li {
                line-height: 42px;
                width: 80%;
                position: relative;
                color: #333;
                border: none;
            }
            li:after {
                content: "";
                display: block;
                width: 5px;
                height: 5px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -15px;
                background: #ddd;
                border-radius: 50%;
            }
            li.curren,
            li:hover {
                color: $currenColor;
                font-weight: bold;
                border: none;

            }
            li.curren::after,
            li:hover::after {
                background: $currenColor;
            }
        }






        .searchBar {
            float: left;
            li {
                color: #333;
                padding: 0 35px;
                cursor: pointer;
                position: relative;

                .allCate {
                    position: absolute;
                    top: 56px;
                    left: 0;
                    background: #fff;
                    padding: 12px;
                    height: $allCateH;
                    box-sizing: border-box;
                    display: none;

                    li {
                        float: left;
                        width: 165px;
                        height: 24px;
                        line-height: 24px;
                        padding: 0 10px;
                        color: #666;
                        cursor: pointer;
                        margin-top: 10px;
                    }
                    li:hover,
                    .curren {
                        background: $currenColor;
                        color: #fff;
                        border: none;
                    }
                }
            }
        }
        ol,
        .searchBox {
            float: right;
        }
        ol li {
            float: left;
            padding: 0 10px;
            color: #333;
            cursor: pointer;
        }
        li:hover,
        .curren {
            border-bottom: 2px solid $currenColor;
            color: $currenColor;
        }
        .searchBox {
            width: 214px;
            height: 28px;
            border: 1px solid #a9a9a9;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            input {
                width: 100%;
                height: 100%;
                padding-left: 5px;
            }
            button {
                position: absolute;
                right: 0;
                top: 50%;
                background: #fff;
                transform: translateY(-50%);
            }
        }
    }
}

.sortBoxOnTop {
    position: fixed;
    z-index: 999;
    top: 0;
}













/*----------------------------------------    /sortBox   ----------------------------------------*/


/*----------------------------------------    floor   ----------------------------------------*/

.floorBox {
    .floor {
        h3 {
            padding: 50px 0 20px;
            font-size: 16px;
            line-height: 50px;
            color: #333;
            span {
                font-size: 12px;
                font-weight: normal;
                color: #999;
            }
        }
        h3.curren{
            color: $currenColor;
        }
        ul {
            overflow: hidden;
            li:nth-of-type(even) {
                margin-left: $menuLiGap;
            }
            li {
                line-height: 26px;
                height: $menuImg;
                width: ($innerW - $menuLiGap - 4) / 2;
                position: relative;
                margin-bottom: 15px;
                background: #fff;
                border: 1px solid #eee;

                img {
                    width: $menuImg;
                    float: left;
                    margin-right: 12px;
                }

                .menuInfo {
                    width: (($innerW - $menuLiGap - 4) / 2) - $menuImg - 30;
                    float: left;
                    h4 {
                        font-size: 20px;
                        margin-top: 10px;
                        color: #333;
                    }
                    span {
                        font-size: 12px;
                        display: block;
                        width: (($innerW - $menuLiGap - 4) / 2) - $menuImg - 30;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-weight: 600;
                        color: #99b299;
                    }
                    .appraise {
                        /* float: left; */
                        color: #99b2d8;
                    }
                    .price {
                        font-size: 20px;
                        color: #f74342;
                        font-weight: 600;
                        font-style: italic;
                        /* clear: both; */
                    }
                }

                .joinToCar {
                    width: 74px;
                    height: 22px;
                    line-height: 22px;
                    color: #fff;
                    display: block;
                    background: $currenColor;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    text-align: center;
                    border-radius: 11px;
                }
                .joinToCar:hover {
                    background: coral;
                    text-decoration: none;
                }
            }
            li:hover{
                box-shadow:  1px 2px 5px rgba(0,0,0,0.2);
            }
        }
    }
}
.floorBoxMT{
    margin-top: $sortBoxH;
}






/*----------------------------------------    /floor   ----------------------------------------*/