<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/base.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/font/iconfont.css">
    <script type="text/javascript" src="lib/requirejs/require.js" data-main="js/index"></script>
    <script src="js/index.js"></script>
    <title>凯-Dome</title>
</head>

<body>
    <!----------------------------------------    header   ---------------------------------------->
    <header id="header" class="">
        <div class="inner">
            <h1><a href="">食汇源饭店</a></h1>
            <ul>
                <li><a href="">首页</a></li>
                <li><a href="">我的订单</a></li>
                <li><a href="">电话订餐</a></li>
            </ul>
            <a href="" class="userInfo">凯旋</a></div>
    </header>
    <!----------------------------------------    /header   ---------------------------------------->
    <!----------------------------------------    goto   ---------------------------------------->
    <div class="goto">
        <ul>
            <li><i class="iconfont icon-wo"></i></li>
            <li><i class="iconfont icon-gouwuchekong"></i></li>
            <li><i class="iconfont icon-dingbu"></i></li>
        </ul>
    </div>
    <!----------------------------------------    /goto   ---------------------------------------->
    <!----------------------------------------    shopInfo   ---------------------------------------->
    <div class="shopInfo">
        <div class="inner">
            <div class="fl">
                <div class="logo"></div>
                <h2>食汇源饭店<a href="">预定中</a></h2>
                <p></p>
            </div>
            <div class="fr">
                <dl>
                    <dt>配送起送价</dt>
                    <dd>¥15</dd>
                </dl>
                <dl>
                    <dt>配送费</dt>
                    <dd>¥4</dd>
                </dl>
                <dl>
                    <dt>平均送达时间</dt>
                    <dd>60分钟</dd>
                </dl>
            </div>
        </div>
    </div>
    <!----------------------------------------    /shopInfo   ---------------------------------------->
    <!----------------------------------------    banner   ---------------------------------------->
    <div class="banner">
        <div class="inner"></div>
    </div>
    <!----------------------------------------    /banner   ---------------------------------------->
    <!----------------------------------------    sortBox   ---------------------------------------->
    <div class="sortBox">
        <div class="inner">
            <script type="text/html" id="side_nav">
                {{each data as lis i}}
                    {{if i < 1}}
                        <li class="curren">{{lis.name}}</li>
                    {{/if}}
                    {{if i >= 1}}
                        <li>{{lis.name}}</li>
                    {{/if}}
                {{/each}}
            </script>
            <ol class="sideNav">
            </ol>
            <ul class="searchBar">
                <li class="curren">
                    所有商品
                    <ul class="allCate inner">

                    </ul>
                </li>
                <li>评价</li>
                <li>关于我店</li>
            </ul>
            <div class="searchBox">
                <input type="text" class="search" placeholder="搜索美食..." />
                <button type="" class="iconfont icon-sousuo"></button>
            </div>
            <ol>
                <li class="curren">默认排序</li>
                <li>评分</li>
                <li>销量</li>
                <li>价格</li>
                <li></li>
            </ol>
        </div>
    </div>
    <!----------------------------------------    /sortBox   ---------------------------------------->
    <!----------------------------------------    floor   ---------------------------------------->
    <div class="floorBox">
        <div class="inner">
            <div class="floor"></div>
            <script type="text/html" id="floor">
                {{each data as floorItem}}
                <h3>
                    {{floorItem.name}}
                    <span>{{floorItem.floor.floorInfo}}</span>
                </h3>
                <ul>
                    {{each floorItem.floor.floors as cate}}
                    <li>
                        <div style="display: none;">{{cate.mid}}</div>
                        <img src="{{cate.img}}" alt="" />
                        <div class="menuInfo">
                            <h4>
                                {{cate.name}}
                            </h4>
                            <span>{{cate.title}}</span>
                            <p class="appraise">{{cate.info}}</p>
                            <p class="price">¥{{cate.price}}</p>
                        </div>
                        <a href="" class="joinToCar">加入购物车</a>
                    </li>
                    {{/each}}
                </ul>
                {{/each}}
            </script>
        </div>
    </div>
    <!----------------------------------------    /floor   ---------------------------------------->
    <!----------------------------------------    footer   ---------------------------------------->
    <footer>
        <div class="inner">
            <div class="links">
                <dl>
                    <dt>用户帮助</dt>
                    <dd>订餐须知</dd>
                    <dd>生日宴会</dd>
                    <dd>承包婚庆</dd>
                </dl>
                <dl>
                    <dt>商务合作</dt>
                    <dd>原材料厂商</dd>
                    <dd>员工保险</dd>
                    <dd>市场合作</dd>
                    <dd>广告平台</dd>
                </dl>
                <dl>
                    <dt>关于我们</dt>
                    <dd>本店介绍</dd>
                    <dd>加入我们</dd>
                    <dd>联系我们</dd>
                </dl>
            </div>
            <div class="aboutUs">
                <h3>订餐热线：135770*****</h3>
                <p>
                    关注我们
                    <i class="iconfont icon-weixin"></i>
                    <i class="iconfont icon-weibo-circle"></i>
                </p>
            </div>
            <div class="map">
            </div>
        </div>
    </footer>
    <!----------------------------------------    /footer   ---------------------------------------->
    <script type="text/javascript">
    </script>
</body>

</html>